useDynLib(fdaPDE)
	
	import(Matrix)
	import(rgl)
	import(geometry)
	importFrom("grDevices", "heat.colors")
	importFrom("graphics", "plot", "segments")
	importFrom("stats", "lm.fit")
	export(create.mesh.2D,refine.mesh.2D,create.mesh.2.5D,create.mesh.3D)
	export(create.FEM.basis, smooth.FEM.basis, FEM, eval.FEM, smooth.FEM.FPCA)
	export(plot.mesh.2D,plot.FEM, plot.mesh.2.5D, plot.mesh.3D, image.FEM)
	export(CPP_smooth.FEM.basis, CPP_smooth.FEM.PDE.basis, CPP_smooth.FEM.PDE.sv.basis, CPP_eval.FEM, CPP_get_evaluations_points, CPP_get.FEM.Mass.Matrix, CPP_get.FEM.Stiff.Matrix, CPP_get.FEM.PDE.Matrix, CPP_get.FEM.PDE.sv.Matrix, CPP_smooth.manifold.FEM.basis, CPP_eval.manifold.FEM)
        export(smooth.FEM.PDE.basis, smooth.FEM.PDE.sv.basis)	
        S3method(plot,FEM)
	S3method(image,FEM)